body{
  overflow-x: hidden;
  min-height:100vh ;
  background-color: #000;
}
.cardBody{
 background-color: rgb(0, 0, 0) !important;
}
.cardContainer{
  background-color: rgba(255, 255, 255, 0.651);
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
.nav {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
}
.sidebar-wrapper{
  min-height:70vh ;
}

.fondo {
  background-image: url("./images/fondo_nav.jpg");
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.centrar-vertical {
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.quantify {
  font-family: quantify;
}

.cafe {
  font-family: cafe;
}

.cream {
  font-family: cream;
}

.modern {
  font-family: modern;
}

.info {
  width: 50%;
  max-width: 100%;
  position: absolute;
  bottom: 420px;
  left: 10%;
  z-index: 150;
  color: white;

}

@media only screen and (max-width: 1010px) {
  .info {
    width: 100%;
    position: static;
    padding: 45px 25px;
    text-align: center;
    background: #000;
  }
}

.info_botones {
  position: absolute;
  z-index: 150;
  left: 10%;
  bottom: 200px;
  color: white;
}

@media only screen and (max-width: 1010px) {
  .info_botones {
    position: static;
    left: 0;
    color: #000;
    padding: 1%;
    background-color: white;
  }
}

.contact {
  width: 100%;
  height: auto;
  padding: 4%;
  border: rgb(103, 117, 165) solid 2px;
  margin-bottom: 1%;
}

.book {
  width: 100%;
  height: auto;
  border: rgb(211, 123, 123) solid 2px;
  padding: 4%;
}

.footer {
  font-size: calc(0.5em + 0.5vw);
  line-height: 1.5em;
  width: 100%;
  margin-top: auto;
  text-align: center;
  border-top: rgba(150, 150, 150, 0.445) solid 1px;
  background-color: rgb(19, 17, 17);
  color: rgb(53, 53, 53);
}

.footer_top {
  position: relative;
  background-color: #000;
  width: 100%;
}

@media only screen and (max-width: 1010px) {
  .footer_top {
    height: auto;
    width: 100uv;
    background-image: url("./images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 1010px) {
  .contact_info {
    text-align: center;
    margin: 0 auto;
    color: white;
  }
}

.contact_info {
  width: 100%;
}

.scroll {
  overflow-y:scroll;
  overflow-x:hidden;
  height: 400px;
}
.scroll::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #53303071;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #7e0f0f9a;
}
@media only screen and (max-width: 1110px) {
  .scroll {
    overflow-x:hidden;
    overflow-y:hidden;
    height: auto;
  }
}

#contenedorServicios {
  text-align: center;
  height: auto;
}

@media only screen and (max-width: 1110px) {
  #contenedorServicios {
    flex: 0 0 auto;
    width: 100%
  }
}
@media only screen and (max-width: 1110px) {
  #carruselServicios {
    flex: 0 0 auto;
    width: 100%
  }
}
@font-face {
  font-family: cream;
  src: url('./font/cream_cake.ttf');
}

@font-face {
  font-family: quantify;
  src: url('./font/quantify.ttf');
}

@font-face {
  font-family: modern;
  src: url('./font/modern.ttf');
}

@font-face {
  font-family: cafe;
  src: url('./font/cafe.ttf');
}